html * {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

}

body {
  background-color: rgb(27, 26, 23);
  margin: auto;
}

#navbar {
  position: fixed;
  z-index: 2;
}

.navbar-container {
  display: flex;
  position: fixed;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: rgb(27, 26, 23);
}

.is-logged-in {
  display: flex;
  margin: 0% 7%;
}

.logout-link-p {
  display: flex;
  margin: 0% 3%;
}

.is-logged-in-link,
.logout-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.site-logo-container {
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5%;
  padding-top: 5px;
  display: flex;
}

.site-logo {
  width: 70px;
  height: 70px;
  flex: 1 1 auto;
}


.home-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}


.home-link-container p {
  color: rgb(27, 26, 23);
}


.sign-in-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  padding-right: 1%;
}

.sign-in-container p {
  color: rgb(27, 26, 23);
}