body {
  background-color: rgb(27, 26, 23);
  margin: auto;
}

.navbar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  width: 100%;
}

.search-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.site-logo-container {
  display: flex;
}

.site-logo {
  flex: 1 1 auto;
}


.home-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}


.home-link-container p {
  color: rgb(27, 26, 23);
}


.sign-in-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 auto;
  padding-right: 1%;
}

.sign-in-container p {
  color: rgb(27, 26, 23);
}