.user-upload-form {
  margin-right: 2%;
}

.user-upload {
  right: 60%;
  margin-top: 5%;
  width: 20%;
  float: left;
}

.div-user-artworks h2 {
  color: blue;
}

.div-user-sidebar {
  width: 30%;
  float: left;
}

.user-works-title {
  width: 80%;
  float: left;
}

.div-user-artworks {
  width: 70%;
  float: left;
}