.upload-button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 100px;
  width: 70%;
}

.upload-button {
  outline: none;
}

.popup-form-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.popup-form {
  position: fixed;
  display: flex;
  background-color: #fff;
  width: 300px;
  height: 300px;
  top: 30%;
  z-index: 1;
  padding: 5px;
  border-radius: 5px;
}