.user-page {
  display: flex;
  position: relative;
  top: 100px;
  width: 100%;
}

.user-artworks {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 2;
}


.user-artwork-container {
  width: 200px;
  height: 200px;
  margin: 2px;
  overflow: hidden;
  border-radius: 5px;
}

.user-artwork-container img {
  border-radius: 5px;
}

.user-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: left;
  color: white;
}