.user-page {
  display: flex;
  position: relative;
  top: 100px;
  width: 100%;
}

.user-artworks {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
}


.user-artwork-container {
  width: 200px;
  height: 200px;
  margin: 2px;
  overflow: hidden;
  border-radius: 5px;
}

.user-artwork-container img {
  border-radius: 5px;
}

.user-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: left;
  color: white;
}

.upload-button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 100px;
  width: 70%;
}

.upload-button {
  outline: none;
}

.popup-form {
  position: absolute;
  display: flex;
  background-color: #fff;
  margin-right: 2%;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100;
  z-index: 1;
}

.user-upload {
  right: 60%;
  margin-top: 5%;
  width: 30%;
  float: left;
}